*{
    box-sizing: border-box;
}
div.baner5-bg{
    margin: 0 ;
    padding: 0;
    background-color: #03a9f3;
    height: 555px;
    background-image: url(../img/04-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;


    .hed-con5{
        padding: 100px 0px 0px 0px;
    }

}
.baner5-bg{
    // height: 555px;
    // background-image:  url(../img/04-bg.png);
    // background-position: bottom;
    // background-size: contain;
    // background-repeat: no-repeat;
    
     

    h1{
        font-size: 33px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins";
        text-align: center;
        padding-bottom: 40px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins";
        text-align: center;
        // padding-bottom: 80px;
    }

    // .container-box1{
    //     width: 945px;
    //     height: 633px;
    // }

    div.container-block{
        display: flex;
        justify-content: center;
        z-index: 2;

        div.card{
            display: flex;
            width: 555px;
            height: 490px;
            
        }
    }
    
}


