div.site1-bg{
    background-color: #e6f7fe;
}

.site1-bg{
    height: 630px;
    background: url(../img/img-cloud.png);
    background-repeat: no-repeat;
    background-position: bottom;

    h1.site1-head{
        font-size: 47px;
        letter-spacing: -1px;
        font-weight: bold;
        font-family: Poppins-Bold;
        position: relative;
        right: -28px;
        bottom: -140px;

        span{
            color: #03a9f4;
        }
    }

    .site1-line1{
        width: 50px;
        height: 3px;
        background-color: #f75d2d;
        position: relative;
        right: -28px;
        bottom: -180px;

        .site1-line2{
            opacity: 0.302;
            width: 545px;
            height: 1px;
            background-color: #313537;
            position: relative;
            bottom: -1px;
        }
    }

    .site1-p1{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        color: #656a70;
        font-weight: 400;
        font-family: Poppins-Medium;
        position: relative;
        right: -28px;
        bottom: -200px;
    }

    .site1-btn1{
        width: 190px;
        height: 50px;
        border-radius: 3px;
        background-color: #f75d2d;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: -221px;
        right: -28px;
    }

    .site1-btn-1{
        display: flex;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 600;
        font-family: Poppins-Bold;
        
    }


    .site1-block{
        display: flex;
        background-color: #03a9f4;
        height: 135px;
        position: relative;
        bottom: -290px;
        align-items: center;
        justify-content: space-around;
        padding-left: 22px;
        
       

        ul.site1-ul{
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .site1-ul{
            display: flex;
        }

        .site1-item{
            display: block;
            margin-right: 15px;
        }
        .site1-link1{
            text-decoration: none;
            font-size: 13px;
            color: #656a70;
            font-weight: 400;
            font-family: Poppins-Medium;
            width: 202px;
            height: 50px;
            border-radius: 3px;
            background-color: #f6f9f9;
            border: 1px solid #d8dadb;
            box-shadow: 1px 1px #d8dadb;
            text-align: left;
        }

        // .dropdown-toggle1::after{
        //     display: inline-block;
        //     margin-left: 4em;
        //     vertical-align: .255em;
        //     content: "";
        //     border-top: .3em solid;
        //     border-right: .3em solid transparent;
        //     border-bottom: 0;
        //     border-left: .3em solid transparent;
        // }

        .site1-link2{
            text-decoration: none;
            font-size: 13px;
            color: #656a70;
            font-weight: 400;
            font-family: Poppins-Medium;
            width: 202px;
            height: 50px;
            border-radius: 3px;
            background-color: #f6f9f9;
            border: 1px solid #d8dadb;
            box-shadow: 1px 1px #d8dadb;
            text-align: left;
        }


        // .dropdown-toggle2::after{
        //     display: inline-block;
        //     margin-left: 6.300em;
        //     vertical-align: .255em;
        //     content: "";
        //     border-top: .3em solid;
        //     border-right: .3em solid transparent;
        //     border-bottom: 0;
        //     border-left: .3em solid transparent;
        // }

        p{
            font-size: 13px;
            color: #ffffff;
            font-weight: 500;
            font-family: Poppins-Bold;
        }
        // .site1-link3{
        //     text-decoration: none;
        //     font-size: 13px;
        //     color: #656a70;
        //     font-weight: 400;
        //     font-family: Poppins-Medium;
        //     width: 202px;
        //     height: 50px;
        //     border-radius: 3px;
        //     background-color: #f6f9f9;
        //     border: 1px solid #d8dadb;
        //     box-shadow: 1px 1px #d8dadb;
        //     text-align: left;
        // }

        // *, ::after, ::before {
        //     box-sizing: border-box;
        // }
        // .dropdown-toggle3::after{
        //     display: inline-block;
        //     margin-left: 8.255em;
        //     vertical-align: .255em;
        //     content: "";
        //     border-top: .3em solid;
        //     border-right: .3em solid transparent;
        //     border-bottom: 0;
        //     border-left: .3em solid transparent;
        // }

        .quantity_inner * {
            box-sizing: border-box;    
        }    
        .quantity_inner {
            display: inline-flex;
            border-radius: 3px;
            background-color: #f6f9f9;
            // border: 0px solid #ffffff;
        }        
        .quantity_inner .bt_minus,
        .quantity_inner .bt_plus,
        .quantity_inner .quantity {
            height: 50px;
            width: 40px;
            padding: 0;
            border: 0;
            margin: 0;
            background: transparent;
            cursor: pointer;
            outline: 0;
        }

        .quantity_inner .bt_minus{
            border-right: 1px solid #d8dadb;
        }

        .quantity_inner .bt_plus{
            border-left: 1px solid #d8dadb;
        }
        .quantity_inner .quantity {
            width: 132px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            color: #656a70;
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        }
        .quantity_inner .bt_minus svg,
        .quantity_inner .bt_plus svg {
            stroke: #656a70;
            stroke-width: 2;
            transition: 0.5s;
            margin: 10px;
        }    
        .quantity_inner .bt_minus:hover svg,
        .quantity_inner .bt_plus:hover svg {
            stroke: #d8dadb;
        }

        li.site1-item1{
            display: flex;
            justify-content: center;
            // align-items: center;
            width: 201px;
            height: 50px;
            border-radius: 3px;
            background-color: #0187c3;
        }

        .site1-btn2{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #ffffff;
            font-weight: 500;
            font-family: Poppins-Bold;
            text-align: center;
            text-decoration: none;
            padding: 10px 20px 10px 20px;
        }

        li.site1-item1:hover{
            background-color: rgba(205,155,55,0.1);
            box-shadow: -2px 2px cornsilk;
            text-shadow: 0.5px -1px ;
            transition: all 0.8s linear ease-in-out;
        }


        .site1-girl{
            display: inline-block;
            bottom: 287px;
            position: relative;
            right: 320px;
        }
    }
}