.baner2-bg{
    background-color: #ffffff;
    height: 600px;
    padding-top: 100px;

   div.hed-con3{
        display: flex;

        div{
            display: flex;
            align-items: flex-end;
        }
        a{
            text-decoration: none;
        }
        img{
            position: relative;
            left: 35px;
        }

        img:hover {
            box-shadow: 5px 5px 20px rgba(243,142,617,0.2);
            z-index: 3;
            transition: all 3s linear 0;
            cursor: pointer;
        }

        div{
            height: 415px;
        }

        div{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        h1.site2-h1{
            display: inline-block;
            position: relative;
            left: 75px;
            letter-spacing: -1px;
            font-size: 35px;
            color: #1e2021;
            font-family: Poppins-Bold;
            text-align: left;
        }

        .text:hover h1{
            text-shadow: -2px 2px  rgba(100, 149, 237, 0.9);
            transition: all 3s linear 0;
            cursor: grab;
        }

        p{
            display: inline-block;
            position: relative;
            left: 60px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.5px;
            color: #51555a;
            font-weight: 400;
            font-family: Poppins-Medium;
            text-align: left;
        }

        .text:hover p{
            text-shadow: -1px 1px 0.1px rgba(100, 149, 237, 0.2);
            transition: all 3s linear 0;
            cursor: grab;
        }

    }
}

 