.baner2-bg{
    background-color: #ffffff;
    height: 600px;
    padding-top: 100px;

    div{
        display: flex;
        align-items: flex-end;
        a{
            text-decoration: none;
        }
        img{
            position: relative;
            left: 35px;
        }
    }
    div{
        height: 415px;
        div{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        h1.site2-h1{
            display: inline-block;
            position: relative;
            left: 75px;
            letter-spacing: -1px;
            font-size: 35px;
            color: #1e2021;
            font-family: Poppins-Bold;
            text-align: left;
        }
        p{
            display: inline-block;
            position: relative;
            left: 60px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.5px;
            color: #51555a;
            font-weight: 400;
            font-family: Poppins-Medium;
            text-align: left;
        }
    }
}

 