*{
    box-sizing: border-box;
}
div.container.hed-con4{
    margin: 0;
    padding: 0;
    margin-bottom: 95px;
}

.baner4-bg{
    background-color: #ffffff;
    padding: 0px;
    padding-top: 130px;
    
    

    div.grid{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 10px;

        a{
            text-decoration: none;
        }

        img{
            padding-bottom: 35px;
        }

        h2{
            font-size: 17px;
            text-transform: uppercase;
            color: #1e2021;
            font-weight: 600;
            font-family: "Poppins";
            text-align: center;
            padding-bottom: 15px;
        }

        p{
            font-size: 13px;
            line-height: 20px;
            color: #51555a;
            font-weight: 400;
            font-family: "Poppins";
            text-align: center;
        }
    }

    .works4-block-h1{
        display: grid;
        justify-items: center;

        h1{
            font-size: 33px;
            color: #323538;
            font-weight: 500;
            font-family: "Poppins-Medium";
            padding-bottom: 65px;
        }
    }

    div.works4-box1{
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        padding-bottom: 35px;
        
   
    }
}