<div class="container-fluid baner3-bg">
    <div class="container hed-con3">
        <h1 class="advan-h1">Advantages of Our Writing Services</h1>
       <div class="advan-flex">
        <div class="advan-block1">
            <a href="#"><img src="../assets/img/02-img-1.png" alt="02-img-1"></a>
            <p class="advan-p1">Professionally-qualified<br>  writing experts</p>
            <p class="advan-p2">But I must explain to you how all this<br> mistaken idea of denouncing plea-<br>sure and praising pain was born</p>
        </div>
        <div class="advan-block2">
            <a href="#"><img src="../assets/img/02-img-2.png" alt="02-img-2"></a>
            <p class="advan-p3">Commitment to deliver papers<br> by deadline</p>
            <p class="advan-p4">But I must explain to you how all this<br> mistaken idea of denouncing plea-<br>sure and praising pain was born</p>
        </div>
        <div class="advan-block3">
            <a href="#"><img src="../assets/img/02-img-3.png" alt="02-img-3"></a>
            <p class="advan-p5">Top-quality, at a great price -<br> guaranteed</p>
            <p class="advan-p6">But I must explain to you how all this<br> mistaken idea of denouncing plea-<br>sure and praising pain was born</p>
        </div>
    </div> 
    <div class="advan-btn_box"><a href="#">Place an order</a></div>
</div>
</div> 