<div class="container-fluid baner5-bg">
    <div class="container hed-con5">
        <h1>Our discount program</h1>
        <p>By utilizing elements and principles of Material Design, we were<br> able to create a framework that incorporates </p>
        <div class="container-block">
          <div class="card">
            <div class="card-body1">
              <ul>
              <li>
                <h5 class="card-title">4%</h5>              
              </li>
              <li>
                <h6 class="card-subtitle mb-2 text-body-secondary">OFF</h6> 
              </li>
              <li>
                <a href="#" class="card-link1">for more than</a>
              </li>
              <li>
                <a href="#" class="card-link2">15 pages</a>
              </li>
              </ul>
            </div>
            <div class="card-body2">
              <h5 class="card-title">5%</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">OFF</h6>
              <p class="card-text"></p>
              <a href="#" class="card-link">for more than</a>
              <a href="#" class="card-link">15 pages</a>
            </div>
            <div class="card-body3">
              <h5 class="card-title">10%</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">OFF</h6>
              <p class="card-text"></p>
              <a href="#" class="card-link">for more than</a>
              <a href="#" class="card-link">50 pages</a>
            </div>
            <div class="card-body4">
              <h5 class="card-title">15%</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">OFF</h6>
              <p class="card-text"></p>
              <a href="#" class="card-link">for more than</a>
              <a href="#" class="card-link">100 pages</a>
            </div>
            <div>
              <div class="border1">
                <p></p>
                <div class="border2">
                  <img src="../assets/img/scissors.png" alt="scissors" width="200px;" style="color: black; z-index: 3;">
            </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>