<div class="container-fluid baner7-bg">
  <div class="container">
    <div class="hed-con7">
      <nav class="navbott-expand">
        <div class="navbott-block">
          <a class="navbott-logo" href="#"><img class="bott-logo1" src="../assets/img/logo.png" alt="logo"></a>
          <div class="navbott-collapse" >
            <ul class="navbott-nav ">
              <li class="nav-item">
                <a class="nav-link3" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">ORDER NOW</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">DISCLAIMER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">WHY US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">CONTACTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">BLOG</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    </div>
    <div class="navbott-line1"></div>
    <div class="list">
      <ul>
        <li class="head_1">Section number1</li>
        <li><a href="#">But I must explain to you how</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
        <li><a href="#">Account of the system</a></li>
        <li><a href="#">Great explorer of the truth</a></li>
        <li><a href="#">No one rejects, dislikes</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
      </ul>
      <ul>
        <li class="head_1">Section number2</li>
        <li><a href="#">But I must explain to you how</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
        <li><a href="#">Account of the system</a></li>
        <li><a href="#">Great explorer of the truth</a></li>
        <li><a href="#">No one rejects, dislikes</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
      </ul>
      <ul>
        <li class="head_1">Section number3</li>
        <li><a href="#">But I must explain to you how</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
        <li><a href="#">Account of the system</a></li>
        <li><a href="#">Great explorer of the truth</a></li>
        <li><a href="#">No one rejects, dislikes</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
      </ul>
      <ul>
        <li class="head_1">Section number4</li>
        <li><a href="#">But I must explain to you how</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
        <li><a href="#">Account of the system</a></li>
        <li><a href="#">Great explorer of the truth</a></li>
        <li><a href="#">No one rejects, dislikes</a></li>
        <li><a href="#">Mistaken idea of denouncing</a></li>
        <li><a href="#">Praising pain was born</a></li>
      </ul>
    </div>
    <div class="navbott-line1"></div>
    <div class="hed-con7 box_con7">
      <nav class="navbott-expand">
        <div class="navbott-block">
          <a class="navbott-logo" href="#"><p>Copyright В© 2017 BlueEssaySite.net<br> 
            All rights reserved.</p></a>
          <div class="navbott-collapse" >
            <ul class="navbott-nav">
              <li class="nav-item">
                <a class="nav-link3" href="#"><img src="../assets/img/facebook.png" alt="facebook"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#"><img src="../assets/img/twitter.png" alt="twitter"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#"><img src="../assets/img/pinterest.png" alt="pinteres"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#"><img class="img-item_4" src="../assets/img/google-plus.png" alt="google-plus"></a>
              </li>
              <li><img class="adress_item_img" src="../assets/img/footer-phone.png" alt="phone"></li>
              <li class="nav-item adress_item_1">
                <p class="adress_item_p_1">Toll free:</p>
                <address><a href="tel:+380972277285" class="contacts_link_1">+380972277285</a></address>
              </li>
              <li><img class="img_footer_imail" src="../assets/img/footer-email.png" alt="footer"></li>
              <li class="nav-item adress_item_2">
                <p class="adress_item_p_2">Email:</p>
                <address><a href="mailto:blueessaysite@gmail.com" class="contacts_link_2">blueessaysite@gmail.com</a></address>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    </div>
  </div>
</div>


