<div class="container-fluid baner7-bg">
  <div class="container">
    <div class="hed-con7">
      <nav class="navbott-expand">
        <div class="navbott-block">
          <a class="navbott-logo" href="#"><img class="bott-logo1" src="../assets/img/logo.png" alt="logo"></a>
          <div class="navbott-collapse" >
            <ul class="navbott-nav ">
              <li class="nav-item">
                <a class="nav-link3" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">ORDER NOW</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">DISCLAIMER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">WHY US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">CONTACTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">BLOG</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    </div>
    <div class="navbott-line1"></div>
    <table>
      <thead>
        <tr>
          <th>Section number1</th>
          <th>Section number2</th>
          <th>Section number3</th>
          <th>Section number4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>But I must explain to you how</td>
          <td>But I must explain to you how</td>
          <td>But I must explain to you how</td>
          <td>But I must explain to you how</td>
        </tr>
        <tr>
          <td>Mistaken idea of denouncing </td>
          <td>Mistaken idea of denouncing </td>
          <td>Mistaken idea of denouncing </td>
          <td>Mistaken idea of denouncing </td>
        </tr>
        <tr>
          <td>Praising pain was born</td>
          <td>Praising pain was born</td>
          <td>Praising pain was born</td>
          <td>Praising pain was born</td>
        </tr>
        <tr>
          <td>Account of the system</td>
          <td>Account of the system</td>
          <td>Account of the system</td>
          <td>Account of the system</td>
        </tr>
        <tr>
          <td>Great explorer of the truth</td>
          <td>Great explorer of the truth</td>
          <td>Great explorer of the truth</td>
          <td>Great explorer of the truth</td>
        </tr>
        <tr>
          <td>No one rejects, dislikes</td>
          <td>No one rejects, dislikes</td>
          <td>No one rejects, dislikes</td>
          <td>No one rejects, dislikes</td>
        </tr>
        <tr>
          <td>Mistaken idea of denouncing</td>
          <td>Mistaken idea of denouncing</td>
          <td>Mistaken idea of denouncing</td>
          <td>Mistaken idea of denouncing</td>
        </tr>
        <tr>
          <td>Praising pain was born</td>
          <td>Praising pain was born</td>
          <td>Praising pain was born</td>
          <td>Praising pain was born</td>
        </tr>
      </tbody>
    </table>
    <div class="navbott-line1"></div>
    <div class="hed-con7">
      <nav class="navbott-expand">
        <div class="navbott-block">
          <a class="navbott-logo" href="#"><p>Copyright В© 2017 BlueEssaySite.net<br> 
            All rights reserved.</p></a>
          <div class="navbott-collapse" >
            <ul class="navbott-nav ">
              <li class="nav-item">
                <a class="nav-link3" href="#"><img src="../assets/img/facebook.png" alt="facebook"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#"><img src="../assets/img/twitter.png" alt="twitter"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#"><img src="../assets/img/pinterest.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#"><img src="../assets/img/google-plus.png" alt=""></a>
              </li>
              <li class="nav-item">
                <address><a href="tel:+380972277285" class="contacts_link"><img src="../../../assets/img/footer-phone.png" alt="phone">+380972277285</a></address>
              </li>
              <li class="nav-item">
                <address><a href="mailto:blueessaysite@gmail.com" class="contacts_link"><img src="../../../assets/img/footer-email.png" alt="">blueessaysite@gmail.com</a></address>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    </div>
  </div>
</div>







