<header class="container-fluid topnav-bg">
    <div class="container hed-con1">
    <nav class="navtop-expand">
        <div class="nav-block">
          <a class="head-logo" href="#"><img class="nav-logo1" src="../../../assets/img/logo.png" alt="logo"></a>
          <div class="navtop-collapse" >
            <ul class="navtop-nav ">
              <li class="nav-item">
                <a class="nav-link1 dropdown-toggle" href="#">SERVICES</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ONE</a>
                </li>
                  <li><a class="dropdown-item" href="#">TWO</a>
                </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">THREE</a>
                </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link2 dropdown-toggle" href="#">ABOUT US</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ONE</a>
                </li>
                  <li><a class="dropdown-item" href="#">TWO</a>
                </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">THREE</a>
                </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">HOW IT WORKS</a>
              </li>
              <li class="nav-item">
                <a class="nav-phone active" aria-current="page" href="#"><img src="../../../assets/img/phone.png" alt="phone"></a>
              </li>
              <li class="nav-item">
                <a class="nav-bnt1" href="#">SIGN IN</a>
              </li>
              <li class="nav-item">
                <a class="nav-bnt2" href="#">ORDER</a>
              </li>
              <li class="navtop-bottom">
                <a class="nav-burger active" href="#"><img src="../../../assets/img/burger.png" alt="burger"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
</header>

