<header class="container-fluid topnav-bg">
    <div class="container hed-con1">
    <nav class="navtop-expand">
        <div class="nav-block">
          <a class="head-logo" href="#"><img class="nav-logo1" src="../assets/img/logo.png" alt="logo"></a>
          <div class="navtop-collapse" >
            <ul class="navtop-nav ">
              <li class="nav-item">
                <select class="btn-group nav-link1" role="group">
                  <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </button> -->
                  <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li> -->
                    <option selected>SERVICES</option>
                  <option  value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  </ul>
                </select>
              </li>
              <li class="nav-item">
                <select class="btn-group nav-link2" role="group" >
                  <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </button> -->
                  <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li> -->
                    <option selected>ABOUT US</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  </ul>
                </select>
              </li>
              <li class="nav-item">
                <a class="nav-link3" href="#">HOW IT WORKS</a>
              </li>
              <li class="nav-item">
                <a class="nav-phone active" aria-current="page" href="#"><img class="phone" src="../assets/img/phone.png" alt="phone"></a>
              </li>
              <li class="nav-item">
                <a class="nav-bnt1" href="#">SIGN IN</a>
              </li>
              <li class="nav-item">
                <a class="nav-bnt2" href="#">ORDER</a>
              </li>
              <li class="navtop-bottom">
                <a class="nav-burger active" href="#"><img class="burger" src="../assets/img/burger.png" alt="burger"></a>
              </li>
              <li><a class="head1-logo1" href="#"><img class="nav-logo2" src="../assets/img/logo-sm.png" alt="logo2"></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
</header>

