<div class="container-fluid site1-bg">
<div class="container hed-con2">
                <div class="site1-h1"><h1 class="site1-head"><span>BlueEssaySite.net -</span><br> expert help for custom Written</h1>
                </div>
                <div class="site1-line1"><div class="site1-line2"></div></div>
                <div class="site1-p1"><p class="ban1-p">On the other hand, we denounce with righteous indig-<br>nation and dislike men who are so beguiled and de-<br>moralized</p></div>
                <div class="site1-btn1"><a class="site1-btn-1" href="#">PLACE AN ORDER</a></div>
                <div class="site1-block">
                    <ul class="site1-ul">
                        <li class="site1-item">
                          <p>Type of paper</p>
                          <button class="btn site1-link1 dropdown-toggle1" type="button">
                            Placeholder text
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">ONE</a></li>
                            <li><a class="dropdown-item" href="#">TWO</a></li>
                            <li><a class="dropdown-item" href="#">THREE</a></li>
                          </ul>
                        <li class="site1-item">
                          <p>Writer level</p>
                          <button class="btn site1-link2 dropdown-toggle2" type="button">
                            High school
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">ONE</a></li>
                            <li><a class="dropdown-item" href="#">TWO</a></li>
                            <li><a class="dropdown-item" href="#">THREE</a></li>
                          </ul>
                        </li>
                        <li class="site1-item">
                          <p>Urgency</p>
                          <button class="btn site1-link3 dropdown-toggle3" type="button">
                            21 days
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">ONE</a></li>
                            <li><a class="dropdown-item" href="#">TWO</a></li>
                            <li><a class="dropdown-item" href="#">THREE</a></li>
                          </ul>
                            </li>
                            <li class="site1-item">
                              <p>Number of pages</p>
                                <ul class="pagination">
                                  <li class="page1-item"><a class="page1-link" href="#">-</a></li>
                                  <li class="page2-item"><a class="page2-link" href="#">2</a></li>
                                  <li class="page3-item"><a class="page3-link" href="#">+</a></li>
                                </ul>
                            </li>
                        <li class="site1-item1">
                          <a class="site1-btn2" href="#">Continue</a>
                        </li>
                      </ul>
                      <div class="site1-girl">
                        <img src="../../../assets/img/girl.png" alt="girl">
                       </div>
           </div>
       </div>
    </div>









<!-- 
<section class="container-fluid baner1-bg">
    <div class="container">
        <div aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">-</a></li>
              <li class="page-item" style="width: 100px; text-align: center;"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">+</a></li>
            </ul>
        </div>
    </div>
</section> -->
<!-- Number of pages -->