<div class="container-fluid site1-bg">
<div class="container hed-con2">
                <div class="site1-h1"><h1 class="site1-head"><span>BlueEssaySite.net -</span><br> expert help for custom Written</h1>
                </div>
                <div class="site1-line1"><div class="site1-line2"></div></div>
                <div class="site1-p1"><p class="ban1-p">On the other hand, we denounce with righteous indig-<br>nation and dislike men who are so beguiled and de-<br>moralized</p></div>
                <div class="site1-btn1"><a class="site1-btn-1" href="#">PLACE AN ORDER</a></div>
                <div class="site1-block">
                    <ul class="site1-ul">
                        <li class="site1-item">
                          <p>Type of paper</p>
                          <ul>
                            <select class="form-select form-select-lg mb-3 site1-link1" aria-label="Large select example">
                              <li><a href="#">
                                <option selected>Placeholder text</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option></a></li>
                            </select>
                          </ul>
                          </li>
                        <li class="site1-item">
                          <p>Writer level</p>
                          <ul>
                            <select class="form-select form-select-lg mb-3 site1-link2" aria-label="Large select example">
                              <li><a href="#">
                                <option selected>High school</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option></a></li>
                            </select>
                          </ul>
                          </li>
                            <li class="site1-item">
                              <p>Urgency</p>
                              <ul>
                                <select class="form-select form-select-lg mb-3 site1-link3" aria-label="Large select example">
                                  <li><a href="#">
                                    <option selected>21 days</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option></a></li>
                                </select>
                              </ul>
                              </li>
                            <li class="site1-item">
                              <p>Number of pages</p>
                              <ul>
                                <section class="site1-link4">
                                  <div aria-label="Page navigation example">
                                      <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">-</a></li>
                                        <li class="page-item" style="width: 100px; text-align: center;"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link page3" href="#">+</a></li>
                                      </ul>
                                  </div>
                          </section> 
                              </ul>
                            </li>
                            <li class="site1-item1">
                              <ul class="site1-item1">
                                  <a class="site1-btn2" href="#">Continue</a>
                              </ul>
                            </li>
                      </ul>
                      
                      <!-- <div class="site1-girl">
                        <img src="../assets/img/girl.png" alt="girl">
                       </div> -->
           </div>
           <div class="site1-girl">
            <img src="../assets/img/girl.png" alt="girl">
           </div>
       </div>
    </div>






   


