<div class="container-fluid baner6-bg">
    <div class="container hed-con6">
      <h5 class="baner-6_h5">What our clients says</h5>
     <div class="block_img">
      <a class="blocl_img_a-1" href="#"><img class="block_img_arrow-png" src="../assets/img/arrow.png" alt="arrow"></a>
      <div class="block_animation">
        <img class="img_05-user-01" src="../../../assets/img/05-user-01.png" alt="05-user-01">
        <div class="block_animation_p">
          <p class="block_p-1">Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was <span>available. I would give a full ten marks.</span></p>
          <p class="block_p-2">Lorna Grey</p>
          <p class="block_p-3">20 apr 2016 at 8:23</p>
        </div>
      </div>
      <a class="blocl_img_a-2" href="#"><img class="block_img_arrow-right-png" src="../../../assets/img/arrow-right.png" alt=""></a>
     </div>
    </div>
</div>